body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.title{
    display: flex;
}
.site-logo{
    width: 100px;
    margin: auto 0;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    top: 5%;
}
.site-header{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.site-tagline{
    display: inline-block;
    position: relative;
    top : 24%;
}
.nav-items > ul{
    display: flex;
    justify-content: space-between;
}
.nav-items > ul > *{
   list-style: none;
   margin-right:20px;
   margin-top: 15px;
   color: black;
   text-decoration: none;
}
.nav-items > ul > *:hover{
    text-decoration: underline;
}
.card-container{
    display: inline-block;
    width: 20%;
    margin: 1.7%;
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: rgb(64, 63, 63);
}
.card-image{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card-container>div{
    display:flex;
    justify-content: space-between;
}
.rating{
    background-color: green;
    color: white;
    padding: 3px;
    position: relative;
    bottom: 5px;
    border-radius: 3px;
}
.search-bar{
    margin: 10px;
    text-align:center;
}
.search-icon{
    position: relative;
    right: 25px;
    top: 3px;
    color: grey;
    cursor: pointer;
}
.search-bar input[type="text"]:focus {
    outline : none;
}
.shimmer-style{
    margin-top: 70px;
}
.shimmer-card{
    width: 20%;
    height: 340px;
    overflow: hidden;
    border-radius: 10px;
    margin: 1.7%;
    margin-top: 5em;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 3px 10px #0000004d;
}
.img-shimmer, .name-shimmer, .cuisines-shimmer{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color:#f1f0f0;
}
.name-shimmer{
    width: 60%;
    height: 30px;
    margin: 20px 5px;
}
.cuisines-shimmer{
    width: 90%;
    height: 20px;
    margin: 20px 5px;
}
.restaurant-menu{
    display: flex;
    margin: 20px;
}